/ONNX/convnet_onnx_example/.ipynb_checkpoints
/ONNX/convnet_onnx_example/data
/PsyNeuLink/*.dat
/PsyNeuLink/show_graph*
/NeuroML/*.dat
/NeuroML/*.gv
/NeuroML/__pycache__
/NeuroML/show_graph*
/NeuroML/clean.sh
/NeuroML/report*txt
